p {
    padding: 20px;
    margin: 0;  

    *,
    *::before,
    *::after {
        box-sizing: border-box;         /* use universal selector to target all HTML elements*/
    }
    body {
        maring: 10px;
    }
    .box::before {
        content: "Hello";
    }
    .box {
        width: 100px;
        height: 100px;
        background-color: gold;
        display: inline-block;      /* to enable 100px for width, height must give inline-block*/
    }

}
